extends layout


block content
  h1= title
  p Welcome to #{title}

  each room,roomname in rooms
    .card(id= 'roomcard-' + roomname, class= 'temp-' + Math.floor(room.temp).toString())
      .heater= room.hitsOn > 0 ? 'On' : 'Off'
      .wanted= room.wantedTemp + '°'
      if room.temp === '--'
        .temp --&nbsp;
      else
        .temp!= Math.floor(room.temp).toString() + '.<small>' + (room.temp % 1).toFixed(1).substring(2) + '</small>'
      h2= room.name
